<a href="https://colab.research.google.com/github/CHELVYN01/Tugas-python-USD/blob/main/Pengenalan%20python%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pemrolehan Informasi  
Modul 3

---
A. Tujuan
- Mahasiswa mampu membuat program sederhana menggunakan python
- mahasiswa mampu melakukan  pengelolahan data teks menggunaakan pustaka nltk dan  sastrawi .

B. Praktikum

Import

In [ ]:
!pip install PySastrawi
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PySastrawi
  Downloading PySastrawi-1.2.0-py2.py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 5.0 MB/s
Installing collected packages: PySastrawi
Successfully installed PySastrawi-1.2.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)

In [ ]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import nltk
from  nltk.tokenize import sent_tokenize, \
word_tokenize, WordPunctTokenizer

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

2. penghilangan awalan dan akhiran

In [ ]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [ ]:
teks ='pertemanan! DiTemaNkAn beRtEman'

In [ ]:
sentence = stemmer.stem(teks)
print(sentence)

teman teman teman

Penjelasan

---
Pada kasus ini kita menggunakan library Sastrawai untuk menjalankan program.
dalam library ini terdapat sebuah  method stem() yang mana  method ini bisa menormalisasi sebua  kalimat yang memiliki kata  bantu jadi kasus ini kita  akan mengubah sebuah kata 'pertemanan! DiTemaNkAn beRtEman' menjadi  
'teman teman teman'

3 jalanan program Sastrawi

Membuat  Stemmer

In [ ]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()

Input data

In [ ]:
teks = 'Pemrosesan bahasa alami, disingkat PBA atau NLP (natural language processing), adalah cabang ilmu komputer dan linguistik yang mengkaji interaksi antara komputer dengan bahasa (alami) manusia. NLP sering dianggap sebagai cabang dari kecerdasan buatan dan bidang kajiannya bersinggungan dengan linguistik komputasional. Kajian NLP antara lain mencakup segmentasi tuturan (speech segmentation), segmentasi teks (text segmentation), penandaan kelas kata (part-of-speech tagging), serta pengawataksaan makna (word sense disambiguation). Meskipun kajiannya dapat mencakup teks dan tuturan, pemrosesan tuturan (speech processing) telah berkembang menjadi suatu bidang kajian terpisah.'

Preprocessing

In [ ]:
tks = stemmer.stem(teks)
print(tks)

pemrosesan bahasa alami singkat pba atau nlp natural language processing adalah cabang ilmu komputer dan linguistik yang kaji interaksi antara komputer dengan bahasa alami manusia nlp sering anggap bagai cabang dari cerdas buat dan bidang kaji singgung dengan linguistik komputasional kaji nlp antara lain cakup segmentasi tutur speech segmentation segmentasi teks text segmentation tanda kelas kata part-of-speech tagging serta pengawataksaan makna word sense disambiguation meski kaji dapat cakup teks dan tutur pemrosesan tutur speech processing telah kembang jadi suatu bidang kaji pisah

Tugas 4

In [ ]:
input_text = "Do you know how tokenization works? It’s actually quite interesting! Let’s analyze a couple of sentences and figure it out."

cetak tokenisai kalimat

In [ ]:
print("\sentence tokonizer :")
print(sent_tokenize(input_text))

\sentence tokonizer :
['Do you know how tokenization works?', 'It’s actually quite interesting!', 'Let’s analyze a couple of sentences and figure it out.']

cetak tokenisai kata

In [ ]:
print("\sentence tokonizer :")
print(word_tokenize(input_text))

\sentence tokonizer :
['Do', 'you', 'know', 'how', 'tokenization', 'works', '?', 'It', '’', 's', 'actually', 'quite', 'interesting', '!', 'Let', '’', 's', 'analyze', 'a', 'couple', 'of', 'sentences', 'and', 'figure', 'it', 'out', '.']

tugas 5

In [ ]:
import csv

with open('/content/drive/MyDrive/USD /pemrolehan informasi/Makapai.csv') as csv_file:
  csv_reader = csv.reader(csv_file, delimiter=",")
  print(csv_reader)
  for row in csv_reader:
    print(row)

<_csv.reader object at 0x7fd3476107d0>
['', 'Jadwal', 'Harga']
['0', 'Garuda Indonesia', 'IDR 1.156.320']
['1', 'Garuda Indonesia', 'IDR 1.156.320']
['2', 'Garuda Indonesia', 'IDR 1.156.320']
['3', 'Garuda Indonesia', 'IDR 1.156.320']
['4', 'Garuda Indonesia', 'IDR 1.156.320']
['5', 'Garuda Indonesia', 'IDR 1.379.220']
['6', 'Garuda Indonesia', 'IDR 1.161.220']
['7', 'Garuda Indonesia', 'IDR 1.161.220']
['8', 'Garuda Indonesia', 'IDR 1.161.220']
['9', 'Garuda Indonesia', 'IDR 1.161.220']
['10', 'Garuda Indonesia', 'IDR 1.161.220']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas  as pa
table = pa.read_csv("/content/drive/MyDrive/USD /pemrolehan informasi/Makapai.csv")
table

    Unnamed: 0            Jadwal          Harga
0            0  Garuda Indonesia  IDR 1.156.320
1            1  Garuda Indonesia  IDR 1.156.320
2            2  Garuda Indonesia  IDR 1.156.320
3            3  Garuda Indonesia  IDR 1.156.320
4            4  Garuda Indonesia  IDR 1.156.320
5            5  Garuda Indonesia  IDR 1.379.220
6            6  Garuda Indonesia  IDR 1.161.220
7            7  Garuda Indonesia  IDR 1.161.220
8            8  Garuda Indonesia  IDR 1.161.220
9            9  Garuda Indonesia  IDR 1.161.220
10          10  Garuda Indonesia  IDR 1.161.220

In [ ]:
tugas = table['Jadwal']
for tables in tugas:
  print(tables)
  teks = stemmer.stem(tables)
  print(teks + "\n")

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

Garuda Indonesia
garuda indonesia

In [ ]:
import pandas  as pa
table = pa.read_csv("/content/drive/MyDrive/USD /pemrolehan informasi/amazon.csv")
table

   Unnamed: 0                                              judul
0           0  Bringing Tap to Alexa to more devices and addi...
1           1                     Innovating alongside customers

In [ ]:
tugas = table['judul']
for tables in tugas:
  print(tables)
  teks = stemmer.stem(tables)
  print(word_tokenize(teks))
  print(teks + "\n")

Bringing Tap to Alexa to more devices and adding new functionality
['bringing', 'tap', 'to', 'alexa', 'to', 'more', 'devices', 'and', 'adding', 'new', 'functionality']
bringing tap to alexa to more devices and adding new functionality

Innovating alongside customers
['innovating', 'alongside', 'customers']
innovating alongside customers